[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
dj-rest-auth = "*"
django-allauth = "*"
djangorestframework-simplejwt = "*"
Pillow = "*"
django-location-field = "*"
django-admin-interface = "*"
uWSGI = "*"
psycopg2-binary = "*"
gunicorn = "*"
django-csvimport = "*"
drf-nested-routers = "*"
django-import-export = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
